* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: kumbh sans;
}


@media (min-width: 1240px) {
  .mainApp-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}
}
